gdown
h5py 
ipympl 
librosa 
ninja 
numpy<2.0
pandas 
pesq 
pillow 
protobuf 
pyarrow
pyroomacoustics 
pystoi 
pytorch-lightning 
scipy 
sdeint 
setuptools 
seaborn 
torch 
torch-ema 
torch-pesq
torchaudio
torchvision 
torchinfo 
torchsde 
tqdm 
wandb
mamba-ssm>=1.0.0
causal-conv1d>=1.0.0
triton>=2.0.0